.form {
	background: none;
	padding: 20px;
	position: relative;

	.field-group {
		position: relative;
		padding: 20px 5px;

		label {
			position: absolute;
			top: 25px;
			text-transform: capitalize;
			font-size: 14px;
			font-weight: 400;
			cursor: text;
			@include animate(all, 0.2s);
		}

		span.bar {
			position: relative;
			display: block;
			width: 100%;

			&:before,
			&:after {
				content:'';
				height:2px; 
				width:0;
				bottom:1px; 
				position:absolute;
				background: $primary-color-shade-3;
				@include animate(all, 0.2s);
			}

			&:before {
				left: 50%;
			}

			&:after {
				right: 50%;
			}
		}
	}

	.heading {
		padding: 20px;
	    position: absolute;
	    top: 0px;
	    left: 0px;
	    width: 100%;
	    text-align: center;
	    background: rgba(0, 74, 67, 0.15);
	    color: #FFF;
	    font-size: 18px;
	    letter-spacing: 1px;
	}

	&.login {
		width: 400px;
		padding-top: 75px;
		background: $login-form-bg;
		margin: -webkit-calc(8% - 1px) auto 50px;
		margin: calc(8% - 1px) auto 50px;
		border-radius: $default-border-radius;
		-webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
		box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

		label {
			color: $login-form-text-color;
		}

		span.bar {
			&:before,
			&:after {
				background: $login-form-text-focus-color;
			}
		}

		.wait {
			position: absolute;
		    @include calc(width, '100% - 10px');
		    top: 22%;
		    left: 1.5%;
		    background: rgba(0, 0, 0, 0.5);
		    @include calc(height, '100% - 40px');
		    z-index: 10;
		}
	}
}