
$font-family-base: 'Lato', Helvetica, Arial, sans-serif !important;
$primary-color: #004a43;
$primary-color-shade-1: #00635a;
$primary-color-shade-2: #007d71;
$primary-color-shade-3: #009688;

$body-bg: rgb(248, 248, 248);
$default-text-color: #333;
$default-border: 1px solid #CCC;
$default-border-hover: 1px solid $primary-color;
$default-border-radius: 2px;

$default-button-bg: rgba(0, 153, 204, 0.15);
$default-button-border: 3px solid #FFF;
$default-button-color: rgba(0, 153, 204, 1);

$default-button-hover-bg: rgba(0, 153, 204, 1);
$default-button-hover-color: #FFF;

$login-form-bg: #0099cc;
$login-form-text-color: #EDEDED;
$login-form-text-focus-color: #FFF;